body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

nav {
  background: #803c42;
}

.parallax-container {
  height: 300px;
}

.waves-effect.waves-mycolor .waves-ripple {
  background-color: #e90636;
}

.page-footer {
  background: #803c42;
}
